.Home {
}

.home__mainContent {
  display: flex;
  background: #f0f2f5;
}

.home__leftsidebar {
  flex: 1;
  position: fixed;
  width: 300px;
  height: calc(100vh - 55px);
  overflow: auto;
}
.home__middlebar {
  /* flex: 1; */
  width: 600px;
  margin: auto;
  margin-top: 1rem;
}
.home__rightsidebar {
  flex: 1;
  position: fixed;
  width: 300px;
  right: 0;
  height: calc(100vh - 55px);
  overflow: auto;
}
@media only screen and (max-width: 1220px) {
  .home__middlebar {
    width: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .home__middlebar {
    width: 100%;
    margin-left: 20px;
    margin-right: 320px;
  }
}
@media only screen and (max-width: 767px) {
  .home__middlebar {
    margin-right: 20px;
  }
}
